@model Model.login


<div class="modal fade " id="Reset">
	<div class="modal-dialog">
		<div class=" model-content">


			<div class="modal-header">
				<h4 class="modal-tittle" id="Reset">Reset</h4>
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					<span>X</span>
				</button>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-save="modal">Save</button>
				</div>
				
			</div>
		</div>
	</div>
</div>