

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Forgot Password";
}
 
<h4>last Update page</h4>
<br />
<br />

@TempData["message"]


 


	
